@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>AUTOBUSES VUELING</h1>
    <p class="lead">Trabajo en equipo de la aplicación de Autobuses Vueling.</p>

    <div id="autores">
        <h2>EQUIPO B</h2>

        <h4>Capitanes</h4>
        <ul>
            <li><strong>Capitán 01</strong>: Alejandro García Malo</li>
            <li><strong>Capitán 02</strong>: Ivan Serrano</li>
        </ul>

        <h4>Miembros</h4>
        <ul>
            <li>Alan García Navarro</li>
            <li>Darío Huerta</li>
            <li>Mónica Perez</li>
            <li>Laura Gayan</li>
        </ul>
    </div>
</div>